<a href="https://colab.research.google.com/github/RPatinoR/Data1/blob/main/Proyecto_1_Roberto_Pati%C3%B1o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1

Escribir un programa que pregunte al usuario o genere las ventas
de los últimos 5 días, y muestre por pantalla una serie (Dataframe)
con los datos de las ventas por producto (opcional): Nro de
unidades y precio unitario, indexada por los días, antes y después
de aplicarles un descuento del 5%.

In [ ]:
import pandas as pd
import numpy as np


Precios = np.array([
               ["Platano","01/06/2022", 7, 20], 
               ["Platano","02/06/2022", 5, 20],
               ["Platano","03/06/2022", 5, 20],
               ["Platano","04/06/2022", 13, 20],   
               ["Platano","05/06/2022", 10, 20],
               ["Manzana","01/06/2022", 8, 15], 
               ["Manzana","02/06/2022", 15, 15],
               ["Manzana","03/06/2022", 20, 15],
               ["Manzana","04/06/2022", 7, 15],   
               ["Manzana","05/06/2022", 9, 15],    
               ["Naranja","01/06/2022", 7, 13],
               ["Naranja","02/06/2022", 4, 13],
               ["Naranja","03/06/2022", 6, 13],
               ["Naranja","04/06/2022", 8, 13],   
               ["Naranja","05/06/2022", 14, 13]
               ])


array_precios = pd.DataFrame(
    data=Precios,
    columns=["Producto","Fecha","Nro de Unidades","Precio Unitario"]
    )

array_precios

por_fecha = array_precios.sort_values("Fecha")

por_fecha

por_fecha['Precio Unitario'] = pd.to_numeric(por_fecha['Precio Unitario'])

por_fecha['Descuento'] = por_fecha['Precio Unitario']*0.95

por_fecha.set_index('Fecha', inplace = True)

print (por_fecha)

           Producto Nro de Unidades  Precio Unitario  Descuento
Fecha
01/06/2022  Platano               7               20      19.00
01/06/2022  Manzana               8               15      14.25
01/06/2022  Naranja               7               13      12.35
02/06/2022  Platano               5               20      19.00
02/06/2022  Manzana              15               15      14.25
02/06/2022  Naranja               4               13      12.35
03/06/2022  Platano               5               20      19.00
03/06/2022  Manzana              20               15      14.25
03/06/2022  Naranja               6               13      12.35
04/06/2022  Platano              13               20      19.00
04/06/2022  Manzana               7               15      14.25
04/06/2022  Naranja               8               13      12.35
05/06/2022  Platano              10               20      19.00
05/06/2022  Manzana               9               15      14.25
05/06/2022  Naranja              14               13      12.35

# Ejercicio 2 

Escribir un programa que reciba un diccionario con los ingresos
mensuales de los clientes de una empresa, y devuelva una serie
con el ingreso mínimo, máximo y media.

In [ ]:
import pandas as pd

ingresos = {'Enero':500, 'Febrer':250, 'Marzo':400, 
            'Abril':550, 'Mayo': 550, 'Junio': 250, 
            'Julio': 300, 'Agosto': 500,'Septiembre': 200,
            'Octubre': 500,'Noviembre': 450, 'Diciembre': 250}

def estadistica_ingresos(ingresos):
    ingresos = pd.Series(ingresos)
    estadisticos = pd.Series([ingresos.min(), ingresos.max(), ingresos.mean()], index=['Min', 'Max', 'Media'])
    return estadisticos


print(estadistica_ingresos(ingresos))

Min      200.000000
Max      550.000000
Media    391.666667
dtype: float64

# Ejercicio 3
Escribir programa que genere y muestre por pantalla un DataFrame
con los datos de la siguiente tabla:

Mes Ventas Gastos

Enero 30500 22000

Febrero 35600 23450

Marzo 28300 18100

Abril 33900 35700

Mayo 42500 32450

A continuación, generar nuevas columna:

1. Columna 1 = Gasto/Ventas*100.
2. Columna 2 = Si Ventas&gt;= 30000, imprimir “Meta Superada”,
caso contrario imprimir “Meta no Superada”.
3. Columna 3 = Si Gasto&gt;Ventas, calcular el sobre gasto.
4. Obtener el total de las ventas de los últimos 3 meses
5. Obtener el total de gastos de febrero a abril

In [7]:
import pandas as pd

df = pd.DataFrame()
meses = ["Enero", "febrero", "Marzo", "Abril", "Mayo"]
ventas = [30500, 35600, 28300, 33900, 42500]
gastos = [22000, 23450, 18100, 35700, 32450]

df["Mes"] = meses
df = df.assign(Ventas=ventas)
df = df.assign(Gastos=gastos)

df["Ventas"] = pd.to_numeric(df["Ventas"])
df["Gastos"] = pd.to_numeric(df["Gastos"])

df['Gast/Venta'] = df["Gastos"]/df["Ventas"]*100 #Columna nueva Gasto/Venta*100

df["Metas"] = df['Ventas'].apply(lambda x: 'Meta Superada' if x >= 30000 else 'Meta no Superada') #Columna nueva Meta Superada

df.loc[df['Gastos'] > df['Ventas'], 'Sobre Gasto'] = df['Gastos'] - df['Ventas'] #Columna Sobre Gastos

df

       Mes  Ventas  Gastos  Gast/Venta             Metas  Sobre Gasto
0    Enero   30500   22000   72.131148     Meta Superada          NaN
1  febrero   35600   23450   65.870787     Meta Superada          NaN
2    Marzo   28300   18100   63.957597  Meta no Superada          NaN
3    Abril   33900   35700  105.309735     Meta Superada       1800.0
4     Mayo   42500   32450   76.352941     Meta Superada          NaN

In [6]:
ultimos_3_meses = df['Ventas'].tail(3).sum() #Suma de los datos de las ultimas 3 filas de Ventas

ultimos_3_meses

104700

In [8]:
feb_abr_df = df[1:4] 

gastos_feb_abr = feb_abr_df['Gastos'].sum() #Suma de los datos de las filas 1 a la 4 (Feb - Abr)
gastos_feb_abr

77250

# Ejercicio 4

Con el siguiente fichero Data - Riesgos.csv contiene información
de riesgo de clientes de un banco. Escribir un programa con los
siguientes requisitos:
1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el
número de datos que contiene, los nombres de sus columnas
y filas, los tipos de datos de las columnas, mostrar las 10
primeras filas y las 10 últimas filas, verificar si tiene datos
perdidos/nulos.
3. Extraer las 100 primeras filas y almacenarlas en un
contenedor.

In [37]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/RPatinoR/Data1/main/Data%20-%20Riesgos.csv")

df.shape #Filas por columnas 

df.size  #Numero de elementos

df.columns #Todas las columnas (Nombres)

df.dtypes #Tipo de datos

df.head(10) #Primeras 10 filas

df.tail(10) #Ultimas 10 filas

print("Dimensiones del DataFrame:", df.shape)
print("Numero de Datos del DataFrame:", df.size)
print("Nombres de las Columnas del DataFrame:", df.columns)
print("Tipos de Datos del DataFrame:", df.dtypes)
print("Primeras 10 Filas:", df.head(10))
print("Ultimas 10 Filas:", df.tail(10))

Dimensiones del DataFrame: (4500, 10)
Numero de Datos del DataFrame: 45000
Nombres de las Columnas del DataFrame: Index(['ID', 'edad', 'meses', 'max_ant', 'ingreso', 'score', 'tipo_vivienda',
       'zona', 'nivel', 'riesgo'],
      dtype='object')
Tipos de Datos del DataFrame: ID                 int64
edad             float64
meses            float64
max_ant          float64
ingreso          float64
score            float64
tipo_vivienda      int64
zona             float64
nivel              int64
riesgo             int64
dtype: object
Primeras 10 Filas:      ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0  2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2
1  2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5
2  2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2
3  2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5
4  2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2
5  2219  34.0  145.0      6.0   7000.0  196.0              2   5.0      2
6  2226   NaN  114.0      0.0   2171.5  178.0              2   2.0      1
7  2227  27.0  116.0      0.0    800.0  169.0              2   1.0      5
8  2228  26.0  182.0      6.0   3150.0  190.0              4   3.0      5
9  2230  25.0  154.0      1.0   2600.0  189.0              2   1.0      2

   riesgo
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
Ultimas 10 Filas:         ID  edad  meses  max_ant   ingreso  score  tipo_vivienda  zona  nivel  \
4490  1486  59.0  288.0      0.0  30000.00  207.0              2   1.0      2
4491  1487  55.0  294.0     57.0   9300.00  238.0              4   1.0      2
4492  1488  53.0  148.0    106.0  30000.00  219.0              4   1.0      2
4493  1491  29.0  198.0     94.0   5250.00  214.0              2   1.0      2
4494  1493  32.0  195.0     41.0   7500.00  219.0              2   1.0      2
4495  1494  54.0  510.0     87.0  24000.00  214.0              2   1.0      2
4496  1495  63.0  305.0     99.0   9880.73  219.0              2   5.0      2
4497  1496  48.0  194.0    124.0  23000.00  224.0              4   1.0      2
4498  1497  39.0  245.0    121.0  12450.00  240.0              4   5.0      2
4499  1499  65.0  674.0     38.0  20000.00  238.0              4   5.0      2

      riesgo
4490       0
4491       0
4492       0
4493       0
4494       0
4495       0
4496       0
4497       0
4498       0
4499       0

In [36]:
df.isnull().sum() #Datos perdidos por columna

ID                0
edad             13
meses             6
max_ant           4
ingreso           5
score             5
tipo_vivienda     0
zona              6
nivel             0
riesgo            0
dtype: int64

In [35]:
Primeros_100 = df.head(100)

Primeros_100

,ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo
0,2208,33.0,128.0,6.0,3230.00,192.0,2,3.0,2,1
1,2211,32.0,185.0,7.0,2930.00,217.0,2,1.0,5,1
2,2212,28.0,NaN,7.0,1883.70,202.0,2,1.0,2,1
3,2216,56.0,200.0,0.0,850.00,194.0,2,1.0,5,1
4,2218,32.0,131.0,65.0,3200.00,200.0,2,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...
95,2387,41.0,141.0,0.0,3420.36,214.0,4,2.0,1,1
96,2389,29.0,159.0,17.0,1157.06,163.0,2,4.0,2,1
97,2391,27.0,122.0,NaN,2000.00,188.0,2,1.0,2,1
98,2392,35.0,111.0,0.0,812.53,177.0,2,1.0,5,1
99,2394,28.0,137.0,0.0,2000.00,175.0,3,1.0,5,1